@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color:  #0074b3;
  font-family: PT Mono, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 480px;
  height: 500px;
  background: whitesmoke;
  box-shadow: 0 10px 20px -5px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.player-container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.far {
  font-size: 70px;
  margin-right: 25px;
  margin-left: 25px;
}

#player .far,
#player .choice {
  color:  #0879b5;
  cursor: pointer;
}

#computer .far,
#computer .choice {
  color: rgb(235, 43, 52);
}

.selected {
  color: black !important;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: 500px;
  }

  .player-container {
    margin: 50px 0 25px 25px;
  }

  .far {
    margin-right: 20px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 500px;
  }

  .player-container {
    margin: 43px 0 25px 20px;
  }

  .far {
    font-size: 43px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-container {
    margin: 0 20px;
  }
}
